@model JobPortal.Models.seeker_profile

@{
    ViewBag.Title = "alluserDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-7 mt-4">
        <div class="card">
            <div class="card-header pb-0 px-3">
                <h6 class="mb-0">Candidates</h6>
            </div>
            <div class="card-body pt-4 p-3">
                <ul class="list-group">
                    <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                        <div class="d-flex flex-column">
                            <h6 class="mb-3 text-sm">@Html.DisplayFor(model => model.first_name)</h6>
                            <span class="mb-2 text-xs">First Name: <span class="text-dark font-weight-bold ms-sm-2">  @Html.DisplayFor(model => model.first_name)</span></span>
                            <span class="mb-2 text-xs">Last Name: <span class="text-dark ms-sm-2 font-weight-bold"> @Html.DisplayFor(model => model.last_name)</span></span>
                            <span class="text-xs">Gender: <span class="text-dark ms-sm-2 font-weight-bold"> @Html.DisplayFor(model => model.gender) </span></span>
                            <span class="text-xs">Date Of Birth: <span class="text-dark ms-sm-2 font-weight-bold">@Html.DisplayFor(model => model.date_of_birth)</span></span>
                        </div>
                        <div class="ms-auto text-end">
                            @{
                                try
                                {
                                    <a class="btn btn-link text-dark px-3 mb-0" href="javascript:;"><i class="material-icons  text-sm me-2">details</i>@Html.ActionLink("Details", "CandidateDetails", new { id = Model.user_account_id })</a>

                                }
                                catch
                                {
                                    <td>No details found</td>
                                }
                            }
                        </div>
                        </li>
                </ul>

                @Html.ActionLink("Back to List", "Users")
            </div>
        </div>
    </div>
