@model IEnumerable<JobPortal.Models.seeker_profile>

@{
    ViewBag.Title = "CandidateDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>CandidateDetails</h2>


@*<p>s:</p>@ViewBag.TotalCandidates*@


<div class="row">
    <div class="col-md-7 mt-4">
        <div class="card">
            <div class="card-header pb-0 px-3">
                <h6 class="mb-0">Candidates</h6>
            </div>
            <div class="card-body pt-4 p-3">
                <ul class="list-group">
                    @foreach (var item in Model)
                    {

                        <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                            <div class="d-flex flex-column">
                                <h6 class="mb-3 text-sm">@Html.DisplayFor(modelItem => item.first_name)</h6>
                                <span class="mb-2 text-xs">@Html.DisplayNameFor(model => model.first_name): <span class="text-dark font-weight-bold ms-sm-2"> @Html.DisplayFor(modelItem => item.first_name)</span></span>
                                <span class="mb-2 text-xs">@Html.DisplayNameFor(model => model.last_name): <span class="text-dark ms-sm-2 font-weight-bold">@Html.DisplayFor(modelItem => item.last_name)</span></span>
                                <span class="text-xs"> @Html.DisplayNameFor(model => model.gender): <span class="text-dark ms-sm-2 font-weight-bold"> @Html.DisplayFor(modelItem => item.gender)</span></span>
                                <span class="text-xs">@Html.DisplayNameFor(model => model.date_of_birth): <span class="text-dark ms-sm-2 font-weight-bold"> @Html.DisplayFor(modelItem => item.date_of_birth)</span></span>
                            </div>
                            <div class="ms-auto text-end">
                                <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="javascript:;"><i class="material-icons text-sm me-2">delete</i> @Html.ActionLink("Delete", "EducationDelete", new { id = item.user_account_id })</a>  |
                                <a class="btn btn-link text-dark px-3 mb-0" href="javascript:;"><i class="material-icons text-sm me-2">edit</i> @Html.ActionLink("Edit", "Edit", new { id = item.user_account_id })</a>    |
                                <a class="btn btn-link text-dark px-3 mb-0" href="javascript:;"><i class="material-icons  text-sm me-2">details</i>@Html.ActionLink("Details", "CandidateDetails", new { id = item.user_account_id })</a>
                            </div>
                        </li>
                        }

                    </ul>
            </div>
        </div>
    </div>    
</div>