@model IEnumerable<JobPortal.Models.user_account>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Users</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                        <h6 class="text-white text-capitalize ps-3">User table</h6>
                    </div>
                </div>

                <div class="card-body px-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Email Id</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Password</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Phone Numbeer</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">User Type</th>
                                    <th class="text-secondary opacity-7"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-sm">@Html.DisplayFor(modelItem => item.email_id)</h6>                                            
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0"> </p>
                                            <h6 class="text-xs text-secondary mb-0"> @Html.DisplayFor(modelItem => item.password)</h6>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <h6 class="text-xs text-secondary mb-0"> @Html.DisplayFor(modelItem => item.phone_number)</h6>
                                        </td>
                                        <td class="align-middle text-center">
                                            <span class="text-secondary text-xs font-weight-bold">  @Html.DisplayFor(modelItem => item.user_type)</span>
                                        </td>
                                        <td class="align-middle">

                                            <button class="btn-primary">@Html.ActionLink("Edit", "Edit", new { id = item.id })</button> |
                                            
                                            <button class="btn-success">@Html.ActionLink("Details", "alluserDetails", new { id = item.id })</button>



                                               
                                           
                                        <button class="btn-danger">@Html.ActionLink("Delete", "Delete", new { id = item.id })</button>

                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>



