@model JobPortal.Models.provider
@{
    ViewBag.Title = "Jobpost";
    Layout = "~/Views/Shared/_EmployerLayout.cshtml";
}







<center><h3 class="mb-30">Post a job</h3></center>

@using (Html.BeginForm("Jobpost", "Employer", FormMethod.Post))
{
    @Html.AntiForgeryToken()


    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="container-fluid">




        <div class="section-top-border ">
            <div class="row">
                <div class="col-lg-8 col-md-8 container-fluid">
                    




                    <div class="form-group">
                        @Html.LabelFor(model => model.job_description, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.job_description, 5, 76, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.job_description, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    @*<div class="form-group">
                        @Html.LabelFor(model => model.job_location_id, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.job_location_id, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.job_location_id, "", new { @class = "text-danger" })
                        </div>
                    </div>*@
                    <div class="row">
                        <div class="form-group col-md-5">
                            @Html.LabelFor(model => model.min_salary, htmlAttributes: new { @class = "control-label" })
                            <div class="">
                                @Html.EditorFor(model => model.min_salary, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.min_salary, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-5">
                            @Html.LabelFor(model => model.max_salary, htmlAttributes: new { @class = "control-label" })
                            <div class="">
                                @Html.EditorFor(model => model.max_salary, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.max_salary, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-5">
                        @Html.LabelFor(model => model.end_date, htmlAttributes: new { @class = "control-label" })
                        <div class="">
                            @Html.EditorFor(model => model.end_date, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.end_date, "", new { @class = "text-danger" })
                        </div>
                    </div>




                </div>
                <div class="col-lg-3 col-md-4 mt-sm-30">

                    <div class="single-element-widget mt-30">
                        <h3 class="mb-30"></h3>

                        <div class="row ">
                            <!--<-->@*label class="control-label col-md-10">Job Type</label>*@


                            <div class="col-md-7">
                                @Html.DropDownListFor(model => model.Job, new List<SelectListItem>
                                {
                                new SelectListItem() {Text = "Select Job ", Value="Select Job Type"},
                                new SelectListItem() {Text = "flutter", Value="1"},
                                new SelectListItem() {Text = "python developer", Value="2"},
                                new SelectListItem() {Text = "dot net", Value="3"},
                                new SelectListItem() {Text = "data engineer", Value="4"},
                                }, new { @class = "form-control" })



                                @Html.ValidationMessageFor(model => model.Job, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <br />

                        <div class="row col-md-7">
                            @Html.DropDownListFor(model => model.job_type_id, @ViewBag.jobtype as List<SelectListItem>)


                            @Html.ValidationMessageFor(model => model.job_type_id, "", new { @class = "text-danger" })
                        </div>
                        <br />

                        <div class="row col-md-7">
                            @*@Html.LabelFor(model => model.company_id, htmlAttributes: new { @class = "control-label" })*@
                            @Html.DropDownListFor(model => model.company_id, @ViewBag.company as List<SelectListItem>)

                            @*@Html.EditorFor(model => model.company_id, new { htmlAttributes = new { @class = "form-control" } })*@
                            @Html.ValidationMessageFor(model => model.company_id, "", new { @class = "text-danger" })

                        </div>
                        <br />

                        <div class="row col-md-7">
                            @*@Html.LabelFor(model => model.job_location_id, htmlAttributes: new { @class = "control-label" })*@
                            @Html.DropDownListFor(model => model.job_location_id, @ViewBag.location as List<SelectListItem>)

                            
                            @Html.ValidationMessageFor(model => model.job_location_id, "", new { @class = "text-danger" })

                        </div>


                    </div>


                </div>
            </div>

        </div>
        <center>
            <div class="form-group">
                <input type="submit" value="Post" class="btn btn-default" />
            </div>
        </center>

</div>
}
























