@model JobPortal.Models.LocationModel
@{
    ViewBag.Title = "LocationModel";
}

<center>
    <div class="container-box-form">
        <h2>Job Location</h2>

        @using (Html.BeginForm("LocationModel", "Employer", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @*@Html.Label("Country: ")*@
        @Html.LabelFor(model => model.street_address, htmlAttributes: new { @class = "control-label" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.street_address, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.street_address, "", new { @class = "text-danger" })
        </div>
    </div>

        @*<div class="form-group">*@
        @*@Html.LabelFor(model => model.city, htmlAttributes: new { @class = "control-label" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.city, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.city, "", new { @class = "text-danger" })*@
        @*<div class="container">
            @Html.DropDownList("city", "Select city")
        </div>*@
        @*</div>*@
        @*</div>*@

        
    <div class="form-group">
        <div class="row">
        <label class="control-label col-md-4">City:</label>


        <div class="col-md-5">
            @Html.DropDownListFor(model => model.city, new List<SelectListItem>
            {
            new SelectListItem() {Text = "selec", Value="Alappuzha"},
            new SelectListItem() {Text = "Alappuzha", Value="Alappuzha"},
            new SelectListItem() {Text = "Idukki", Value="Idukki"},
            new SelectListItem() {Text = "Kochi", Value="Kochi"},
            new SelectListItem() {Text = "Trivandram", Value="Trivandram"},
            new SelectListItem() {Text = "kottayam", Value="kottayam"},
            }, new { @class = "form-control" })


            @Html.ValidationMessageFor(model => model.city, "", new { @class = "text-danger" })
        </div>
            </div>
    </div>
        <br>


        <div class="form-group">
            <div class="row">
                <label class="control-label col-md-4">State:</label>
                <div class="col-md-6">
                    @Html.DropDownListFor(model => model.state, new List<SelectListItem>
                    {
                    new SelectListItem() {Text = "kerala", Value="kerala"},
                    new SelectListItem() {Text = "punjab", Value="punjab"},
                    new SelectListItem() {Text = "west bengal", Value="west bengal"},
                    new SelectListItem() {Text = "tamil nadu", Value="tamil nadu"},
                    new SelectListItem() {Text = "karnataka", Value="karnadaka"},
                    }, new { @class = "form-control" })


                    @Html.ValidationMessageFor(model => model.state, "", new { @class = "text-danger" })
                </div>
                </div>
            </div>
        <br>



            @*@Html.LabelFor(model => model.state, htmlAttributes: new { @class = "control-label" })
        <div class="col-md-10">*@
            @*@Html.EditorFor(model => model.state, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.state, "", new { @class = "text-danger" })*@
            <div class="container">
                @*@Html.DropDownList("state", "Select state")*@
                @*</div>*@
            </div>

            @*<div class="form-group">
            @Html.LabelFor(model => model.country, htmlAttributes: new { @class = "control-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.country, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.country, "", new { @class = "text-danger" })
            </div>
        </div>*@
    <div class="form-group">
        <div class="row">
            <label class="control-label col-md-4">Country:</label>
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.country, new List<SelectListItem>
                {
                new SelectListItem() {Text = "Australia", Value="Australia"},
                new SelectListItem() {Text = "Brazil", Value="Brazil"},
                new SelectListItem() {Text = "Canada", Value="Canada"},
                new SelectListItem() {Text = "India", Value="India"},
                new SelectListItem() {Text = "France", Value="France"},
                }, new { @class = "form-control" })


                @Html.ValidationMessageFor(model => model.country, "", new { @class = "text-danger" })
            </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.zip, htmlAttributes: new { @class = "control-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.zip, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.zip, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <input type="submit" value="Add" class="btn btn-default" />
        </div>
    </div>
        }

        <div>
            @Html.ActionLink("Back to LocationModel", "LocationModel")
        </div>
    </div>
</center>


