@model IEnumerable<JobPortal.Models.AppliedJobModel>
@{
    ViewBag.Title = "AppliedJobs";
    Layout = "~/Views/Shared/_ApplicantLayout.cshtml";
}


<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="apple-touch-icon" sizes="76x76" href=".~Admin Template/assets/img/apple-icon.png">
<link rel="icon" type="image/png" href=".~Admin Template/assets/img/favicon.png">
<title>
    Job Portal admin Dashboard
</title>
<!--     Fonts and icons     -->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
<!-- Nucleo Icons -->
<link href=".~Admin Template/assets/css/nucleo-icons.css" rel="stylesheet" />
<link href=".~Admin Template/assets/css/nucleo-svg.css" rel="stylesheet" />
<!-- Font Awesome Icons -->
<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
<!-- Material Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
<!-- CSS Files -->
<link id="pagestyle" href=".~Admin Template/assets/css/material-dashboard.css?v=3.0.0" rel="stylesheet" />

<link href="~/Admin Template/assets/css/material-dashboard.css" rel="stylesheet" />
<!--<a href="~/Admin Template/assets/css/material-dashboard.css.map">-->@*~/Admin Template/assets/css/material-dashboard.css.map*@<!--</a>-->
<link href="~/Admin Template/assets/css/material-dashboard.min.css" rel="stylesheet" />
<link href="~/Admin Template/assets/css/nucleo-svg.css" rel="stylesheet" />
<link href="~/Admin Template/assets/css/nucleo-icons.css" rel="stylesheet" />





<h2>AppliedJobs</h2>

@foreach (var item in Model)
{
    <div class="col-md-7 mt-4">
        <div class="card">
            <div class="card-header pb-0 px-3">
                <h6 class="mb-0">Candidates</h6>
            </div>
            <div class="card-body pt-4 p-3">
                <ul class="list-group">
                    <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">@Html.DisplayNameFor(model => model.job_description):</strong> &nbsp;@Html.DisplayFor(model => item.job_description)</li>
                    <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">@Html.DisplayNameFor(model => model.company_name):</strong> &nbsp;  @Html.DisplayFor(model => item.company_name)</li>
                    <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">@Html.DisplayNameFor(model => model.city):</strong> &nbsp;  @Html.DisplayFor(model => item.city)</li>
                    <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">@Html.DisplayNameFor(model => model.state):</strong> &nbsp; @Html.DisplayFor(model => item.state)</li>
                    <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">@Html.DisplayNameFor(model => model.skill_level):</strong> &nbsp; @Html.DisplayFor(model => item.skill_level)</li>
                    <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">@Html.DisplayNameFor(model => model.skill_name):</strong> &nbsp; @Html.DisplayFor(model => item.skill_name)</li>
                    <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">@Html.DisplayNameFor(model => model.job_type):</strong> &nbsp; @Html.DisplayFor(model => item.job_type)</li>
                    <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">@Html.DisplayNameFor(model => model.apply_date):</strong> &nbsp; @Html.DisplayFor(model => item.apply_date)</li>

                    @*<p>
                            @Html.ActionLink("Edit", "Edit", new { }) |
                            @Html.ActionLink("Back to List", "Index")|
                            @Html.ActionLink("Experience", "ExperienceDetails", new { })
                        </p>*@
                </ul>
            </div>
        </div>
    </div>
}

<script src="~/Admin Template/assets/js/core/bootstrap.min.js"></script>
<script src="~/Admin Template/assets/js/core/popper.min.js"></script>

<script src="~/Admin Template/assets/js/plugins/perfect-scrollbar.min.js"></script>
<script src="~/Admin Template/assets/js/plugins/smooth-scrollbar.min.js"></script>
<script src="~/Admin Template/assets/js/plugins/chartjs.min.js"></script>




