
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_ApplicantLayout.cshtml";
}

<center>
    <div class="container-box-form">

        @if (ViewBag.Profile != null)
        {
            <div>
                <h3>Applicant</h3>
                <b>First Name:</b> @ViewBag.Profile.first_name
                <br>
                <b>Last Name:</b> @ViewBag.Profile.last_name
                <br>
                <b>Date of birth:</b> @ViewBag.Profile.date_of_birth.ToString("MM/dd/yyyy")
                <br>
                @Html.ActionLink("Edit", "Register", "Applicant", null, new { @class = "custom-link-color" })
                @Html.ActionLink("Delete", "Register", "Applicant", null, new { @class = "custom-link-color" })
            </div>

        }
        else
        {
            @Html.ActionLink("Add Profile", "Profile", "Applicant", null, new { @class = "custom-link-color" })
        }
        <br>

        @if (ViewBag.Education != null)
        {<div>

                <hr>
                <details open>
                    <summary><b>EDUCATION</b></summary>
                    <b>Degree Name:</b> @ViewBag.Education.certificate_degree_name
                    <br>
                    <b>Stream:</b> @ViewBag.Education.major
                    <br>
                    <b>University:</b> @ViewBag.Education.university_institute_name
                    <br>
                    <b>Start date:</b> @ViewBag.Education.start_date.ToString("MM/dd/yyyy")
                    <br>
                    <b>End date:</b> @ViewBag.Education.end_date.ToString("MM/dd/yyyy")
                    <br>
                    <b>Cgpa/ percentage:</b> @ViewBag.Education.cgpa_percentage
                    <br>
                    @Html.ActionLink("Edit", "EditEducation", "Applicant", null, new { @class = "custom-link-color" })
                    @Html.ActionLink("Delete", "DeleteEducation", "Applicant", null, new { @class = "custom-link-color" })


                </details>
            </div>


        }
        else
        {
            @Html.ActionLink("Add Education", "Education", "Applicant", null, new { @class = "custom-link-color" })
        }
        <br>

        @if (ViewBag.Experience != null)
        {
            <div>
                <hr>
                <details open>
                    <summary><b>EXPERIENCE</b></summary>
                    <b>Company name:</b> @ViewBag.Experience.company_name
                    <br>
                    <b>Job title:</b> @ViewBag.Experience.job_title
                    <br>
                    <b>Job Description:</b> @ViewBag.Experience.job_description
                    <br>
                    <b>Start date:</b> @ViewBag.Experience.start_date.ToString("MM/dd/yyyy")
                    <br>
                    <b>End date:</b> @ViewBag.Experience.end_date.ToString("MM/dd/yyyy")
                    <br>
                    <b>Country:</b> @ViewBag.Experience.job_location_country
                    <br>
                    <b>State:</b> @ViewBag.Experience.job_location_state
                    <br>
                    <b>City:</b> @ViewBag.Experience.job_location_city
                    <br>
                    <b>Currently Working:</b> @ViewBag.Experience.currently_working
                    <br>
                    @Html.ActionLink("Edit", "EditExperience", "Applicant", null, new { @class = "custom-link-color" })
                    @Html.ActionLink("Delete", "DeleteExperience", "Applicant", null, new { @class = "custom-link-color" })
                </details>
            </div>
        }
        else
        {
            @Html.ActionLink("Add Experience", "Experience", "Applicant", null, new { @class = "custom-link-color" })
        }

    <div>
        <hr>
        <b>SKILLS</b>
        <br>
        @Html.ActionLink("Add Skill", "Skill", "Applicant", null, new { @class = "custom-link-color" })
    </div>

    </div>
</center>

