@model IEnumerable<JobPortal.Models.AvailableJobModel>


@{
    ViewBag.Title = "Index";
    if (Session["User"] != null)
    {
        Layout = "~/Views/Shared/_ApplicantLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

}

<div class="main_index">
    <!-- slider Area Start-->
    <div class="slider-area ">
        <!-- Mobile Menu -->
        <a href="~/Views/Applicant/Index.cshtml">@*~/Views/Applicant/Index.cshtml*@</a>
        <div class="slider-active">


            <div class="single-slider slider-height d-flex align-items-center" data-background=img src="~/Index Template/assets/img/hero/about.jpg" />
            @*<img src="~/Index Template/assets/img/hero/about.jpg" />
                <img src="~/Index Template/assets/img/hero/h1_hero.jpg" />*@
        <div class="container">
            <center>
                <div class="col-xl-8">
                    <!-- form -->
                    @using (Html.BeginForm("Index", "Applicant", FormMethod.Post, new { @class = "search-box" }))
                    {
                        <div class="input-form">
                            <input type="text" id="skill" name="skill" placeholder="Job Tittle or keyword">
                        </div>
                        <div class="select-form">
                            <div class="select-itms">
                                <select name="location" id="location">
                                    <option value="Cochin">Cochin</option>
                                    <option value="Trivandrum">Trivandrum</option>
                                    <option value="Banglore">Banglore</option>
                                    <option value="Hyderabad">Hyderabad</option>
                                </select>
                            </div>
                        </div>
                        <div class="search-form">
                            <input type="submit" value="Find job" class="btn " />
                        </div>
                    }
                </div>
            </center>
            @if (Model != null)
            {
                <div>
                    <div class="card">
                        @*<div class="card-header"></div>*@
                        <div class="card-body">
                            <ul class="list-group">
                                @foreach (var item in Model)
                                {



                                    <div class="single-job-items mb-30">
                                        <div class="job-items">
                                            <div class="company-img">
                                                <a href="#"><img src="assets/img/icon/job-list1.png" alt=""></a>
                                            </div>
                                            <div class="job-tittle job-tittle2">
                                                <a href="#">
                                                    <h4>@Html.DisplayFor(model => item.skill_name)</h4>
                                                </a>
                                                <ul>
                                                    <li>@Html.DisplayFor(model => item.company_name)</li>
                                                    <li><i class="fas fa-map-marker-alt"></i>@Html.DisplayFor(model => item.city), @Html.DisplayFor(model => item.state)</li>
                                                    <li>@Html.DisplayFor(model => item.skill_level) Years</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="items-link items-link2 f-right">
                                            @*<a href="job_details.html">Full Time</a>*@
                                            <span>@Html.DisplayFor(model => item.job_description)</span>
                                        </div>
                                        <div class="ms-auto text-end">

                                            @using (Html.BeginForm("ApplyForJob", "Applicant", FormMethod.Post))
                                            {
                                                <input type="hidden" id="jobId" name="jobId" value="@item.job_post_id" />
                                                <input type="submit" value="Apply" class="btn" />
                                            }
                                        </div>
                                    </div>
                                    <hr />
                                    









                                    @*<li class="list-inline mx-auto justify-content-center">
                <div class="d-flex flex-column">
                    <span class="mb-2 text-xs">@Html.DisplayNameFor(model => model.job_description): <span class="text-dark font-weight-bold ms-sm-2"> @Html.DisplayFor(model => item.job_description)</span></span>
                    <span class="mb-2 text-xs">@Html.DisplayNameFor(model => model.company_name): <span class="text-dark font-weight-bold ms-sm-2">@Html.DisplayFor(model => item.company_name)</span></span>
                    <span class="mb-2 text-xs">@Html.DisplayNameFor(model => model.city): <span class="text-dark font-weight-bold ms-sm-2">@Html.DisplayFor(model => item.city)</span></span>
                    <span class="mb-2 text-xs">@Html.DisplayNameFor(model => model.state): <span class="text-dark font-weight-bold ms-sm-2"> @Html.DisplayFor(model => item.state)</span></span>
                    <span class="mb-2 text-xs">@Html.DisplayNameFor(model => model.skill_level): <span class="text-dark font-weight-bold ms-sm-2">@Html.DisplayFor(model => item.skill_level)</span></span>
                    <span class="mb-2 text-xs">@Html.DisplayNameFor(model => model.skill_name): <span class="text-dark font-weight-bold ms-sm-2">@Html.DisplayFor(model => item.skill_name)</span></span>
                    <span class="mb-2 text-xs">@Html.DisplayNameFor(model => model.job_type): <span class="text-dark font-weight-bold ms-sm-2">@Html.DisplayFor(model => item.job_type)</span></span>
                </div>
                <div class="ms-auto text-end">

                    @using (Html.BeginForm("ApplyForJob", "Applicant", FormMethod.Post))
                    {
                        <input type="hidden" id="jobId" name="jobId" value="@item.job_post_id" />
                        <input type="submit" value="Apply" class="btn" />
                    }
                </div>
            </li>*@
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            }
            <br /><br />
            @if (Model == null)
            {
                <div class="row">
                    
                    <div class="col-xl-6 col-lg-9 col-md-10">
                        <div class="hero__caption">
                            <h1>Find the most exciting  jobs</h1>
                        </div>
                    </div>
                </div>
            }




            














        </div>
        </div>
    </div>

</div>         
            
        
    
        


               